@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&family=Oswald:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Oswald', sans-serif; */
    font-family: 'Noto Sans', sans-serif;
} 
.dropdown-item:hover {
    color: #000;
}
main {
    width: 100vw;
    max-width: 100%;
    height: 150vh;
}
.main {
    width: 100vw;
    max-width: 100%;
    height: 150vh;
    display: flex;
    flex-direction: column;
}
.row {
    margin: 0;
    padding: 0;
    width: 100vw;
    max-width: 100%;
    height: 60vh;
}
.main-top, .main-btm {
    display: flex;
    height: 70vh;
}
.main-blank {
    max-width: 15vw;
}
.main-msg {
    width: 35vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-img {
    background: url('../img/main/main1.png');
    width: 35vw;
    height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.main-3 {
    background-color: #FFE9E3;
}
.main-6 {
    background-color: #A3C7BD;
}
.main-5, .main-8 {
    background-color: #D4E4E0;
    height: 70vh;
}
.h2-main-msg {
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    letter-spacing: .2em;
    font-size: 2.5em;
}
.h3-main-msg {
    text-transform: uppercase;
    margin: 1em 0;
}
.h3-main-msg, .a-main-msg {
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    letter-spacing: .2em;
    font-size: 1.5em;
}
.hr {
    width: 5em;
    height: .1em;
    background-color: #000;
    margin-bottom: 1em;
}
.a-main-msg {
    color: #000;
    text-decoration: none;
}
.main-btm {
    color: #fff;
    height: 70vh;
}
.main-btm .a-main-msg {
    color: #fff;
}
.main-btm .main-img {
    background: url('../img/main/main2.png');
}

/* new arrivals */
.h2_cont_new {
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
}
.cont-card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 4em 0;
}
.card {
    overflow: hidden;
    cursor: pointer;
} 
.card img {
    transition: transform .5s ease;
}
.card img:hover {
    transform: scale(1.05);
}
.card-body {
    background-color: #eee;
}
.card-head, .card-para {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.2em;
    color: #000;
    text-decoration: none;
}

/* get on list */
.cont-on_list {
    padding: 5em 0;
}

/* Black Section */
.black {
    background-color: #000;
    margin: 0;
    padding: 0;
}
.black1 {
    background: url('../img/black/black1.png');
}
.black2 {
    background: url('../img/black/black2.png');
}
.black1, .black2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ch-black {
    font-size: 1.3em;
}
.cp-black { 
    font-size: 2.5em;
    letter-spacing: .1em;
    font-weight: 500;
}